p {
    text-align:center;
    font-style:italic;
    margin:1em;
    color: white;
}

body {
    text-align: center;
}

path {
    fill:#a30;
    stroke:#ccc;
    stroke-width:1;
    background-color: #a30;
}

h1 {
    color: white;
    text-align: center;
    font-size: 72px;
    display: inline-block;
    position: fixed;
    top: 10px;
    line-height: 600px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#merry {
    margin-left: 100px;
    display: none;
}

#christmas {
    right: 25px;
    display: none;
}

#duplicate path {
    pointer-events:none;
    stroke:#f60;
    fill: #a30;
}

#saved-text {
    margin-top:-40px;
    padding-top:20px;
}

#saved-img {
    margin:1em auto;
    position:relative;
}

#graphics {
    color: #a30;
    width:600px;
    height:600px;
    margin:0 auto;
    position:relative;
    cursor: url('http://www.picgifs.com/cursors/special-days/christmas/animaatjes_christmas_icon21.gif'), pointer;
}

#graphics * {
    position:absolute;
    top:0;
    left:0;
    width:600px;
    height:600px;
}

.pulsate-text {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
    from { color: red; }
    to { color: white; }
}
@-moz-keyframes color_change {
    from { color: red; }
    to { color: white; }
}
@-ms-keyframes color_change {
    from { color: red; }
    to { color: white; }
}
@-o-keyframes color_change {
    from { color: red; }
    to { color: white; }
}
@keyframes color_change {
    from { color: red; }
    to { color: white; }
}